@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--primary-font);
  background-color: rgb(0,0,0,0.8);
  color: white;

}
h1,h2,h3{
  font-family: var(--secondary-font);
}

